<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'base/assets/images/logo-one-removebg-preview.png' %}" 
      type="image/icon type"
      style="border-radius: 100%"
    />
    <link rel="stylesheet" href="{% static 'base/assets/css/about.css' %}" />  
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'base/assets/bootstrap-5.2.0-dist/css/bootstrap.min.css' %}"  
    />
    <link
      rel="stylesheet"
      href="{% static 'base/assets/bootstrap-5.2.0-dist/css/bootstrap-grid.min.css' %}"  
    />
    <link rel="stylesheet" href="{% static 'base/style.css' %}" />   
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    
    <title style="background-image:  >About Us</title>
  </head>
  <body>
    <div class="loader">
      <img src="{% static 'base/assets/icons/twirl-preloader.gif' %}" alt="" />  
    </div>

    <div class="first-section">
      <img src="{% static 'base/assets/images/logo-removebg-preview.png' %}" alt="logo-image" />  
    </div>
    <nav class="navigation">
      <ul class="links">
        <li>
          <a href="{% url 'glf:main' %}" 
            ><span class="fa fa-home" style="font-size: 1.2rem"></span> Home</a
          >
        </li>
        <!-- <li><a href="#"><span class="fa fa-bank"></span>Partners</a></li> -->
        <li>
          <a href="{% url 'glf:about' %}" 
            ><span class="fa fa-address-card-o"></span> About Us</a
          >
        </li>
        <li>
          <a href="{% url 'glf:management' %}" 
            ><span class="fa fa-briefcase"></span> Management Team</a
          >
        </li>
        <li>
          <a href=" {% url 'glf:prog' %}"
            ><span class="fa fa-calendar"></span> Programmes</a
          >
        </li>
        <li>
          <a href=" {% url 'glf:mainvol' %}"
            ><span class="fa fa-comments" style="font-size: 1.2rem"></span>
            Volunteer With Us</a
          >
        </li>
        <li>
          <a href=" {% url 'glf:chapters' %}"
            ><span class="fa fa-bookmark"></span> Chapters</a
          >
        </li>
        <li>
          <a href="{% url 'glf:maindon' %}" 
            ><span class="fa fa-money"></span> Donate</a
          >
        </li>
        <li>
          <a href=" {% url 'glf:mainmessage' %}"
            ><samp class="fa fa-phone"></samp> Contact</a
          >
        </li>
      </ul>
      <div class="mobile">
        <a href="#" class="toggle-switch-button">
          <span class="fa fa-navicon"></span>
        </a>
  
        <div class="glf-header">
          <a href="{% url 'glf:main' %}" 
            ><img src="{% static 'base/assets/images/logo-removebg-preview.png' %}" alt="" 
          /></a> 
        </div>
  
        <!-- <a href="#" class="list-element-button">
        <span class="fa fa-ellipsis-v"></span>
      </a> -->
      </div>
    </nav>

    <div class="about">
      <h1 data-aos="fade-down" data-aos-duration="3000">About Us</h1>
    </div>

    <div class="text">
      <h4>Our Core Values</h4>
    </div>

    <div class="core">
      <p>
        Global Leaders Foundation is a value-based Non-Governmental Organization
        (NGO). By this, we mean all our programs, activities, operational
        structure, and development are driven and determined by a set of core
        values. We operate with the values of cultural infusion, integrity,
        respect for all, and connectedness. We also recognize the need for
        networking and connectivity. We value healthy sustainable processes and
        structures.
      </p>
    </div>

    <div class="container-fluid">
      <div class="box" data-aos="flip-left" data-aos-duration="3000">
        <div class="icon fa fa-book"></div>
        <div class="content">
          <h3>Mission</h3>
          <p>Our Mission is to be a force in youth development</p>
        </div>
      </div>

      <div class="box" data-aos="flip-up" data-aos-duration="3000">
        <div class="icon fa fa-globe"></div>
        <div class="content">
          <h3>Vision</h3>
          <p>
            Our vision is to create a society in which the primary concern and
            pursuit is the survival and development of mankind so as to make
            life for the under privileged worth living.
          </p>
        </div>
      </div>

      <div class="box" data-aos="flip-right" data-aos-duration="3000">
        <div class="icon fa fa-pencil-square-o"></div>
        <div class="content">
          <h3>Objectives</h3>
          <p><span class="fa fa-check-circle-o"></span> Leadership Training.</p>
          <p><span class="fa fa-check-circle-o"></span> HIV/AIDS advocacy.</p>
          <p><span class="fa fa-check-circle-o"></span> Youth Empowerment.</p>
          <p>
            <span class="fa fa-check-circle-o"></span> Volunteer placement in
            schools, hospitals and clinics.
          </p>
          <p>
            <span class="fa fa-check-circle-o"></span> International Cultural
            Exchange Programs.
          </p>
        </div>
      </div>
    </div>

    <footer>
      <div class="left-section">
        <div class="brand">Global Leaders Foundation</div>
        <div class="lists">
          <a href="{% url 'glf:main' %}">Home <span>|</span></a>
          <a href="{% url 'glf:about' %}">About<span> |</span></a>
          <a href="{% url 'glf:mainmessage' %}">Contact</a>
          <div></div>
        </div>
      </div>
      <div class="middle-section">
        <div class="reach">Get In Touch With Us</div>
        <div class="location">
          <div><span class="fa fa-map-marker"></span></div>
          <div>
            P.O. Box KA 16164 Kotoka International Airport Accra Ghana, West
            Africa.
          </div>
        </div>
        <div class="call">
          <div><span class="fa fa-phone"></span></div>
          <div>+233 (0) 24 529 6586</div>
        </div>
        <div class="mail">
          <div><span class="fa fa-envelope"></span></div>
          <div>info@globalleadersfoundation.org</div>
        </div>
      </div>
      <div class="right-section">
        <div class="about-header">Follow US</div>
        <div class="about-text">Follow us on our social media platform</div>
        <div class="social-icons">
          <div>
            <a
              href="https://web.facebook.com/Global-Leaders-Foundation-300719476695019/"
              target="_blank"
            >
              <span class="fa fa-facebook"></span>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      Copyright &#169; 2011 -
      <script>
        document.write(new Date().getFullYear());
      </script>
      <a href="{% url 'glf:main' %}" style="color: #15a2d7; text-decoration: none"
        >Global Leaders Foundation</a
      >. All rights reserved.
    </div>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="{% static 'base/assets/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js' %}"></script>  
    <script src="{% static 'base/assets/bootstrap-5.2.0-dist/js/bootstrap.bundle.js' %}"></script>  
    <script src="{% static 'base/assets/scripts/about.js' %}"></script>  
    <script src="  {% static 'base/scripts.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
