<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'base/assets/images/logo-one-removebg-preview.png' %}" type="image/icon type" style="border-radius: 100%;"> 
  <link rel="stylesheet" href="{% static 'base/assets/css/contact.css' %}"> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"  href="{% static 'base/assets/bootstrap-5.2.0-dist/css/bootstrap.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'base/assets/bootstrap-5.2.0-dist/css/bootstrap-grid.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'base/style.css' %}"/> 
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <title>Get in touch with us</title> 
  <link rel="icon" href="{% static 'base/assets/images/logo-one.jpg' %}" type="image/icon type" style="border-radius: 100%;"> 
</head>
<body>
  <div class="loader">
    <img src="{% static 'base/assets/icons/twirl-preloader.gif' %}" alt=""> 
  </div>



  <div class="first-section">
    <img src="{% static 'base/assets/images/logo-removebg-preview.png' %}" alt="logo-image"> 
  </div>
  
  <nav class="navigation">
    <ul class="links">
      <li>
        <a href="{% url 'glf:main' %}" 
          ><span class="fa fa-home" style="font-size: 1.2rem"></span> Home</a
        >
      </li>
      <!-- <li><a href="#"><span class="fa fa-bank"></span>Partners</a></li> -->
      <li>
        <a href="{% url 'glf:about' %}" 
          ><span class="fa fa-address-card-o"></span> About Us</a
        >
      </li>
      <li>
        <a href="{% url 'glf:management' %}" 
          ><span class="fa fa-briefcase"></span> Management Team</a
        >
      </li>
      <li>
        <a href=" {% url 'glf:prog' %}"
          ><span class="fa fa-calendar"></span> Programmes</a
        >
      </li>
      <li>
        <a href=" {% url 'glf:mainvol' %}"
          ><span class="fa fa-comments" style="font-size: 1.2rem"></span>
          Volunteer With Us</a
        >
      </li>
      <li>
        <a href=" {% url 'glf:chapters' %}"
          ><span class="fa fa-bookmark"></span> Chapters</a
        >
      </li>
      <li>
        <a href="{% url 'glf:maindon' %}" 
          ><span class="fa fa-money"></span> Donate</a
        >
      </li>
      <li>
        <a href=" {% url 'glf:mainmessage' %}"
          ><samp class="fa fa-phone"></samp> Contact</a
        >
      </li>
    </ul>
    <div class="mobile">
      <a href="#" class="toggle-switch-button">
        <span class="fa fa-navicon"></span>
      </a>

      <div class="glf-header">
        <a href="{% url 'glf:main' %}" 
          ><img src="{% static 'base/assets/images/logo-removebg-preview.png' %}" alt="" 
        /></a> 
      </div>

      <!-- <a href="#" class="list-element-button">
      <span class="fa fa-ellipsis-v"></span>
    </a> -->
    </div>
  </nav>

  <div class="contact-us">
    <h1 data-aos="fade-down" data-aos-duration="3000">Contact Us</h1>
  </div>

  <!-- <div class="contact-bg" data-aos="fade-right">
      <div class="contact-text">
        YOUR <span>CONNECTION</span> TO GLOBAL LEADERS FOUNDATION
      </div>
      <div class="contact-hero">
        <img src="/assets/images/contactt.jpg" alt="contact">
      </div>
  </div> -->

  <!-- <div class="in-touch" data-aos="fade-in-out">
    <h1>Please get in touch with us and our expert support team will answer all your questions</h1>
  </div> -->

  <div class="wrapper">
    <div class="contact-form-cont">
      <div class="fill-in">
        <h4>Reach out to us!</h4>
        <p>Got a question about global leaders foundation? Are you interested 
          in partnering with us? Have some suggestions or just want to say hi? Contact us:
        </p>
        <form action="{% url 'glf:mainmessage' %}" method="POST">
          {% csrf_token %}
          <input type="text" id="firstname" placeholder="First name" name="firstName">
          <input type="text" id="lastname" placeholder="Last name" name="lastName">
          <input type="email" id="email" placeholder="Your Email Address" name="email">
          <input type="phone" id="phone" placeholder="Phone Number" name="phoneNumber">
          <textarea rows="5" cols="33" placeholder="Leave a message" minlength="7" name="message"></textarea>
          <input type="submit" value="SUBMIT" id="submit-msg">
        </form>
      </div>
      <div class="service-p" data-aos="fade-up">
        <h4>Make that conversation happen</h4>
        <p>Not sure where to start? Need that little bit of help?
          Visit our office to get in touch with us:
        </p>
        <iframe class="map" data-aos="flip-left" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.7350705830295!2d-0.17031218523385022!3d5.606095495935775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9b1fff72b87d%3A0xff2fe8ba5dfa0561!2sKotoka%20International%20Airport!5e0!3m2!1sen!2sgh!4v1669799873221!5m2!1sen!2sgh"  allowfullscreen="" loading="lazy"></iframe>
        <!-- <h1>Other ways to connect</h1> -->
      </div>
    </div>

  </div>


    
  <footer>
    <div class="left-section">
      <div class="brand">Global Leaders Foundation</div>
      <div class="lists">
        <a href="{% url 'glf:main' %}">Home <span>|</span></a>
        <a href="{% url 'glf:about' %}">About<span> |</span></a>
        <a href="{% url 'glf:mainmessage' %}">Contact</a>
        <div></div>
      </div>
    </div>
    <div class="middle-section">
      <div class="reach">Get In Touch With Us</div>
      <div class="location">
        <div><span class="fa fa-map-marker"></span></div>
        <div>
          P.O. Box KA 16164 Kotoka International Airport Accra Ghana, West
          Africa.
        </div>
      </div>
      <div class="call">
        <div><span class="fa fa-phone"></span></div>
        <div>+233 (0) 24 529 6586</div>
      </div>
      <div class="mail">
        <div><span class="fa fa-envelope"></span></div>
        <div>info@globalleadersfoundation.org</div>
      </div>
    </div>
    <div class="right-section">
      <div class="about-header">Follow US</div>
      <div class="about-text">Follow us on our social media platform</div>
      <div class="social-icons">
        <div>
          <a
            href="https://web.facebook.com/Global-Leaders-Foundation-300719476695019/"
            target="_blank"
          >
            <span class="fa fa-facebook"></span>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright">
    Copyright &#169; 2011 -
    <script>
      document.write(new Date().getFullYear());
    </script>
    <a href="{% url 'glf:main' %}" style="color: #15a2d7; text-decoration: none"
      >Global Leaders Foundation</a
    >. All rights reserved.
  </div>


  <script src="{% static 'base/assets/scripts/contact.js' %}"></script> 
  <script src="{% static 'base/scripts.js' %}"></script> 
  <script src="{% static 'base/assets/scripts/volunteer.js' %}"></script> 
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>