<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'base/assets/images/logo-one-removebg-preview.png' %}" 
      type="image/icon type"
      style="border-radius: 100%"
    />
    <link rel="stylesheet" href="{% static 'base/assets/css/donate.css' %}" /> 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'base/assets/bootstrap-5.2.0-dist/css/bootstrap.min.css' %}" 
    />
    <link
      rel="stylesheet"
      href="{% static 'base/assets/bootstrap-5.2.0-dist/css/bootstrap-grid.min.css' %}" 
    />
    <link rel="stylesheet" href="{% static 'base/style.css' %}" /> 
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Donate</title>
    <link
      rel="icon"
      href="{% static 'base/assets/images/logo-one.jpg' %}" 
      type="image/icon type"
      style="border-radius: 100%"
    />
  </head>
  <body>
    <div class="loader">
      <img src=" {% static 'base/assets/icons/twirl-preloader.gif' %}" alt="" /> 
    </div>

    <div class="first-section">
      <img src="{% static 'base/assets/images/logo-removebg-preview.png' %}" alt="logo-image" /> 
    </div>
    <nav class="navigation">
      <ul class="links">
        <li>
          <a href="{% url 'glf:main' %}" 
            ><span class="fa fa-home" style="font-size: 1.2rem"></span> Home</a
          >
        </li>
        <!-- <li><a href="#"><span class="fa fa-bank"></span>Partners</a></li> -->
        <li>
          <a href="{% url 'glf:about' %}" 
            ><span class="fa fa-address-card-o"></span> About Us</a
          >
        </li>
        <li>
          <a href="{% url 'glf:management' %}" 
            ><span class="fa fa-briefcase"></span> Management Team</a
          >
        </li>
        <li>
          <a href=" {% url 'glf:prog' %}"
            ><span class="fa fa-calendar"></span> Programmes</a
          >
        </li>
        <li>
          <a href=" {% url 'glf:mainvol' %}"
            ><span class="fa fa-comments" style="font-size: 1.2rem"></span>
            Volunteer With Us</a
          >
        </li>
        <li>
          <a href=" {% url 'glf:chapters' %}"
            ><span class="fa fa-bookmark"></span> Chapters</a
          >
        </li>
        <li>
          <a href="{% url 'glf:maindon' %}" 
            ><span class="fa fa-money"></span> Donate</a
          >
        </li>
        <li>
          <a href=" {% url 'glf:mainmessage' %}"
            ><samp class="fa fa-phone"></samp> Contact</a
          >
        </li>
      </ul>
      <div class="mobile">
        <a href="#" class="toggle-switch-button">
          <span class="fa fa-navicon"></span>
        </a>
  
        <div class="glf-header">
          <a href="{% url 'glf:main' %}" 
            ><img src="{% static 'base/assets/images/logo-removebg-preview.png' %}" alt="" 
          /></a> 
        </div>
  
        <!-- <a href="#" class="list-element-button">
        <span class="fa fa-ellipsis-v"></span>
      </a> -->
      </div>
    </nav>
    
    <div class="donate-bg">
      <div class="donate-cont" data-aos="fade-down" data-aos-duration="3000">
        <!-- <div class="donate-header">DONATE</div> -->
        <p>Donate</p>
        <!-- <span>"Winston Churchill"</span> -->
      </div>
    </div>
    <div class="donate-wrap">
      <div class="donate-form-container" data-aos="fade-up">
        <div class="contact-details">
          <!-- <img src="/assets/images/donor.jpg" alt="donate"> -->
        </div>
        <div class="contact-form">

          <form action=" {% url 'glf:maindon' %}" method="POST">
            {% csrf_token %}
            <label for="fullname">Full Name</label>
            <div>
              <input
                type="text"
                id="fullname"
                placeholder="Enter your full name"
                name="name"
              />
            </div>
            <label for="email">Email Address</label>
            <div>
              <input
                type="email"
                id="email-address"
                placeholder="Enter email address"
                name="email"
              />
            </div>
            <label for="message">Amount</label>
            <div>
              <input
                type="number"
                id="amount"
                placeholder="Enter amount to donate"
                name="amount"
              />
            </div>
            </div>
            <div class="submit-box">
              <input type="submit" value="SUBMIT" id="send-btn" />
            </div>
          </form>
        </div>
      </div>
      
    </div>


    <footer>
      <div class="left-section">
        <div class="brand">Global Leaders Foundation</div>
        <div class="lists">
          <a href="{% url 'glf:main' %}">Home <span>|</span></a>
          <a href="{% url 'glf:about' %}">About<span> |</span></a>
          <a href="{% url 'glf:mainmessage' %}">Contact</a>
          <div></div>
        </div>
      </div>
      <div class="middle-section">
        <div class="reach">Get In Touch With Us</div>
        <div class="location">
          <div><span class="fa fa-map-marker"></span></div>
          <div>
            P.O. Box KA 16164 Kotoka International Airport Accra Ghana, West
            Africa.
          </div>
        </div>
        <div class="call">
          <div><span class="fa fa-phone"></span></div>
          <div>+233 (0) 24 529 6586</div>
        </div>
        <div class="mail">
          <div><span class="fa fa-envelope"></span></div>
          <div>info@globalleadersfoundation.org</div>
        </div>
      </div>
      <div class="right-section">
        <div class="about-header">Follow US</div>
        <div class="about-text">Follow us on our social media platform</div>
        <div class="social-icons">
          <div>
            <a
              href="https://web.facebook.com/Global-Leaders-Foundation-300719476695019/"
              target="_blank"
            >
              <span class="fa fa-facebook"></span>
            </a>
          </div>
        </div>
      </div>
      
    </footer>
    <div class="copyright">
      Copyright &#169; 2011 -
      <script>
        document.write(new Date().getFullYear());
      </script>
      <a href="{% url 'glf:main' %}" style="color: #15a2d7; text-decoration: none" 
        >Global Leaders Foundation</a
      >. All rights reserved.
    </div>
    <script src="https://js.paystack.co/v2/inline.js"></script>
    <script src="{% static 'base/assets/scripts/donate.js' %}"></script> 
    <script src="{% static 'base/scripts.js' %}"></script>   
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
