                    <!-- Form -->
                    <form class="form" action = "" method="POST">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">

                                    <!-- Label -->
                                    <label for="username" class="form-label">
                                       Username
                                    </label>
    
                                    <!-- Input -->
                                    <input type="text"  name = "username" class="form-control" placeholder="Your username" >
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <!-- Password -->
                                <div class="mb-4">

                                    <div class="row">
                                        <div class="col">

                                            <!-- Label -->
                                            <label class="form-label">
                                                Password
                                            </label>
                                        </div>

                                        <div class="col-auto">
                                            
                                            <!-- Help text -->
                                            <a href="#" class="form-text small text-muted link-primary">Forgot password</a>
                                        </div>
                                    </div> <!-- / .row -->
    
                                    <!-- Input -->
                                    <div class="input-group input-group-merge">
                                        <input type="password"  name = "password" class="form-control" autocomplete="off" data-toggle-password-input placeholder="Your password">
                                        
                                        <button type="button" class="input-group-text px-4 text-secondary link-primary" data-toggle-password></button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- / .row -->

                        <div class="form-check">

                            <!-- Input -->
                            <input type="checkbox" class="form-check-input" id="remember">
                            <!-- Label -->
                            <label class="form-check-label" for="remember">
                                Remember me
                            </label>
                        </div>

                        
                        <input type="submit" value="submit" class="btn btn-primary mt-3">
                    </form>
                </div>

                <div class="mt-auto">

                  
                </div>
                
            </div>