<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Global Leaders Foundation</title>
    <link
      rel="icon"
      href="{% static 'base/assets/images/logo-one-removebg-preview.png' %}"yyy
      type="image/icon type"
      style="border-radius: 100%"
      
      
    />
    <link rel="stylesheet" href="{% static 'base/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'base/assets/bootstrap-5.2.0-dist/css/bootstrap.min.css' %}" 
    />
    <link
      rel="stylesheet"
      href="{% static 'base/assets/bootstrap-5.2.0-dist/css/bootstrap-grid.min.css' %}" 
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>
  <body>
     <div class="loader">
      <img src="{% static 'base/assets/icons/twirl-preloader.gif' %}" alt="" />  
    </div> 

    <div class="first-section">
      <img
        src="{% static 'base/assets/images/logo-removebg-preview.png' %}" 
        alt="logo-image"
        data-aos="fade-down"
      />
    </div>
    <nav class="navigation">
      <ul class="links">
        <li>
          <a href="{% url 'glf:main' %}" 
            ><span class="fa fa-home" style="font-size: 1.2rem"></span> Home</a
          >
        </li>
        <!-- <li><a href="#"><span class="fa fa-bank"></span>Partners</a></li> -->
        <li>
          <a href="{% url 'glf:about' %}" 
            ><span class="fa fa-address-card-o"></span> About Us</a
          >
        </li>
        <li>
          <a href="{% url 'glf:management' %}" 
            ><span class="fa fa-briefcase"></span> Management Team</a
          >
        </li>
        <li>
          <a href=" {% url 'glf:prog' %}"
            ><span class="fa fa-calendar"></span> Programmes</a
          >
        </li>
        <li>
          <a href=" {% url 'glf:mainvol' %}"
            ><span class="fa fa-comments" style="font-size: 1.2rem"></span>
            Volunteer With Us</a
          >
        </li>
        <li>
          <a href=" {% url 'glf:chapters' %}"
            ><span class="fa fa-bookmark"></span> Chapters</a
          >
        </li>
        <li>
          <a href="{% url 'glf:maindon' %}" 
            ><span class="fa fa-money"></span> Donate</a
          >
        </li>
        <li>
          <a href=" {% url 'glf:mainmessage' %}"
            ><samp class="fa fa-phone"></samp> Contact</a
          >
        </li>
      </ul>
      <div class="mobile">
        <a href="#" class="toggle-switch-button">
          <span class="fa fa-navicon"></span>
        </a>
  
        <div class="glf-header">
          <a href="{% url 'glf:main' %}" 
            ><img src="{% static 'base/assets/images/logo-removebg-preview.png' %}" alt="" 
          /></a> 
        </div>
  
        <!-- <a href="#" class="list-element-button">
        <span class="fa fa-ellipsis-v"></span>
      </a> -->
      </div>
    </nav>

    <div class="glf-header-text">
      <span class="type">
        <span class="auto-type"></span>
      </span>
    </div>
    <section class="one">
      <div class="text-section" data-aos="flip-left">
        <div class="glf-header-text-mobile">
          Our mission is to be a force in youth development.
        </div>
        <div class="sample">
          
          Global Leaders Foundation's hope is to touch the lives of people
          living in our community through our <span>youth empowerment</span> ,
          <span>volunteering</span> and
          <span>internship placement programmes.</span>
        </div>
        <div class="random-text">
          While touching lives, a volunteer discovers him/herself, gains the
          confidence to meet new challenges and live the advantages of a life
          time. As a learning organization, we are open to new ideas in all
          aspects of our objectives. For this reason, and coupled with plans to
          expand our services, we would deem it a privilege receiving any form
          of volunteering services throughout the year.
        </div>
      </div>
      <div class="slider-section" data-aos="flip-left">
        <div
          id="carouselExampleFade"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="{% static 'base/assets/images/managment.jpg' %}" 
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'base/assets/images/rsz_1slider.jpg' %}" 
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'base/assets/images/volunteer.png' %}" 
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'base/assets/images/hiv.jpg' %}" 
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'base/assets/images/excort.jpg' %}" 
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>
    <div class="excerpts-header" data-aos="fade-right">
      EXCERPTS FROM BACKGROUND
    </div>
    <section class="two" data-aos="fade-up" data-aos-duration="2000">
      <div class="leader-section">
        <img src="{% static 'base/assets/images/director-edit.jpg' %}" alt="leader-image" /> 
      </div>
      <div class="information-icon-text">
        <div class="info-icon-container">
          <img
            src=" {% static 'base/assets/icons/information icon logo.svg' %}"
            alt="information icon"
          />
        </div>
        <div class="leader-text">
          Thanks to God and the International Community, the vicious cycle of
          self-destruction which engulfed the African continent for a long and
          dark period has ended with highly respected and trustworthy
          administrations in place. We know that the tidal wave of diplomatic
          and military pressure from the international community which melted
          away the clouds of war and uncertainty from our skies is also capable
          of helping Africans to rebuild their lives. The important thing that
          should not be left uncounted for in the international endeavor to help
          Africans is the ability of the Africans to avail themselves by
          actively participating in the implementation of the numerous
          opportunities that comes from the international help.
        </div>
      </div>
    </section>
    <!-- Objectives of the organization-->
    <div class="obj" data-aos="fade-right">OBJECTIVES</div>
    <section class="objectives" data-aos="fade-up" data-aos-duration="2000">
      <div class="obj-icon-container">
        <img src="{% static 'base/assets/icons/objectives.svg' %}" alt="objectives" /> 
      </div>
      <div class="obj-intro">
        We hope to achieve the following objectives as an organization by your
        support
      </div>
      <div class="list">
        <p><span class="fa fa-check-circle-o"></span> Leadership Training</p>
        <p><span class="fa fa-check-circle-o"></span> HIV/AIDS advocacy</p>
        <p><span class="fa fa-check-circle-o"></span> Youth Empowerment</p>
        <p>
          <span class="fa fa-check-circle-o"></span> Volunteer placement in
          schools, hospitals and clinics
        </p>
        <p>
          <span class="fa fa-check-circle-o"></span> International Cultural
          Exchange Programs
        </p>
      </div>
    </section>

    <div class="partners-header" data-aos="fade-right">OUR PARTNERS</div>
    <div class="partner-grid">
      <div data-aos="flip-left">
        <img src=" {% static 'base/assets/images/unaids.jpg' %}" alt="unaids" loading="lazy" />
      </div>
      <div data-aos="flip-left">
        <img src="{% static 'base/assets/images/aids-com.jpg' %}" alt="aids-com" loading="lazy" /> 
      </div>
      <div data-aos="flip-left">
        <img
           src="{% static 'base/assets/images/spearhead-logo.png' %} " 
          alt="spearhead-logo"
          loading="lazy"
        />
      </div>
    </div>
    <button
      onclick="topFunction()"
      class="fa fa-arrow-circle-o-up"
      id="myBtn"
      title="Go to top"
    ></button>

    <footer>
      <div class="left-section">
        <div class="brand">Global Leaders Foundation</div>
        <div class="lists">
          <a href="{% url 'glf:main' %}">Home <span>|</span></a>
          <a href="{% url 'glf:about' %}">About<span> |</span></a>
          <a href="{% url 'glf:mainmessage' %}">Contact</a>
          <div></div>
        </div>
      </div>
      <div class="middle-section">
        <div class="reach">Get In Touch With Us</div>
        <div class="location">
          <div><span class="fa fa-map-marker"></span></div>
          <div>
            P.O. Box KA 16164 Kotoka International Airport Accra Ghana, West
            Africa.
          </div>
        </div>
        <div class="call">
          <div><span class="fa fa-phone"></span></div>
          <div>+233 (0) 24 529 6586</div>
        </div>
        <div class="mail">
          <div><span class="fa fa-envelope"></span></div>
          <div>info@globalleadersfoundation.org</div>
        </div>
      </div>
      <div class="right-section">
        <div class="about-header">Follow US</div>
        <div class="about-text">Follow us on our social media platform</div>
        <div class="social-icons">
          <div>
            <a
              href="https://web.facebook.com/Global-Leaders-Foundation-300719476695019/"
              target="_blank"
            >
              <span class="fa fa-facebook"></span>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      Copyright &#169; 2011 -
      <script>
        document.write(new Date().getFullYear());
      </script>
      <a href="{% url 'glf:main' %}"
        > Global Leaders Foundation</a" style="color: #15a2d7; text-decoration: none" 
      >. All rights reserved.
    </div>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="{% static 'base/assets/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js' %}"></script> 
    <script src="{% static 'base/assets/bootstrap-5.2.0-dist/js/bootstrap.bundle.js' %}"></script>  
    <script src="{% static 'base/scripts.js' %}"></script>  
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>   
    <script>
      AOS.init();
    </script>
  </body>
</html>
