<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'base/assets/images/logo-one-removebg-preview.png' %}" 
      type="image/icon type"
      style="border-radius: 100%"
    />
    <link rel="stylesheet" href="{% static 'base/assets/css/management.css' %}" /> 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'base/assets/bootstrap-5.2.0-dist/css/bootstrap.min.css' %}" 
    />
    <link rel="stylesheet" href="{% static 'base/style.css' %}" /> 
    <link
      rel="stylesheet"
      href="{% static 'base/assets/bootstrap-5.2.0-dist/css/bootstrap-grid.min.css' %}" 
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap"
      rel="stylesheet"
    />
    <title>Meet Our Team</title>
  </head>
  <body>
    <div class="loader">
      <img src="{% static 'base/assets/icons/twirl-preloader.gif' %}" alt="" /> 
    </div>

    <div class="first-section">
      <img src="{% static 'base/assets/images/logo-removebg-preview.png' %}" alt="logo-image" /> 
    </div>
    <nav class="navigation">
      <ul class="links">
        <li>
          <a href=" {% url 'main' %}"
            ><span class="fa fa-home" style="font-size: 1.2rem"></span> Home</a
          >
        </li>
        <!-- <li><a href="#"><span class="fa fa-bank"></span>Partners</a></li> -->
        <li>
          <a href="/assets/about/about.html"  {% static 'base' %}
            ><span class="fa fa-address-card-o"></span> About Us</a
          >
        </li>
        <li>
          <a href="/assets/management/management.html"  {% static 'base' %}
            ><span class="fa fa-briefcase"></span> Management Team</a
          >
        </li>
        <li>
          <a href="/assets/programmes/programmes.html"  {% static 'base' %}
            ><span class="fa fa-calendar"></span> Programmes</a
          >
        </li>
        <li>
          <a href="/assets/volunteerScreen/volunteer.html"   {% static 'base' %}
            ><span class="fa fa-comments" style="font-size: 1.2rem"></span>
            Volunteer With Us</a
          >
        </li>
        <li>
          <a href="/assets/chapters/chapters.html" {% static 'base' %}
            ><span class="fa fa-bookmark"></span> Chapters</a
          >
        </li>
        <li>
          <a href="/assets/donate/donate.html" {% static 'base' %}
            ><span class="fa fa-money"></span> Donate</a
          >
        </li>
        <li>
          <a href="{% static 'base/assets/contact/contact.html' %}"  
            ><span class="fa fa-phone"></span> Contact
          </a>
        </li>
      </ul>
      <div class="mobile">
        <a href="#" class="toggle-switch-button">
          <span class="fa fa-navicon"></span>
        </a>

        <div class="glf-header">
          <a href="{% url 'main' %}" {% static 'base' %}
            ><img src="{% static 'base/assets/images/logo-removebg-preview.png' %}" alt="" 
          /></a>
        </div>
      </div>
    </nav>

    <!-- Team section -->
    <div class="team">
      <h1 data-aos="fade-down" data-aos-duration="3000">Meet Our Team</h1>
    </div>

    <section class="management-team">
      <div class="team-cards" data-aos="fade-up" data-aos-duration="2000">
        <div class="user">
          <div class="card-image">
            <img src="{% static 'base/assets/images/director-edit.jpg' %}" alt="" loading="lazy" /> 
          </div>
          <div class="name">Daniel Appiah Danquah</div>
          <div class="title">Director</div>
        </div>

        <div class="user">
          <div class="card-image">
            <img
              src="{% static 'base/assets/images/GIFTY BOAHEMAA APPEA.jpg' %}"  
              alt=""
              loading="lazy"
            />
          </div>
          <div class="name">Gifty Boahemaa Appea</div>
          <div class="title">Secretary</div>
        </div>

        <div class="user">
          <div class="card-image">
            <img src="{% static 'base/assets/images/mosesss.jpg' %}" alt="" loading="lazy" /> 
          </div>
          <div class="name">Owusu Moses Achiaw</div>
          <div class="title">Programme Director</div>
        </div>

        <div class="user">
          <div class="card-image">
            <img src="{% static 'base/assets/images/nayan.jpg' %}" alt="Patrick" loading="lazy" /> 
          </div>
          <div class="name">Matilda Nayan Mborty</div>
          <div class="title">Director, HIV/AIDS, Social Services</div>
        </div>

        <div class="user">
          <div class="card-image">
            <img src="{% static 'base/assets/images/sarps.jpg' %}" alt="" loading="lazy" /> 
          </div>
          <div class="name">Sarpong David Effah Apraku</div>
          <div class="title">Assit. HIV/AIDS, Social Services</div>
        </div>

        <div class="user">
          <div class="card-image">
            <img src="{% static 'base/assets/images/wasilla.jpg' %}" alt="" loading="lazy" /> 
          </div>
          <div class="name">Wasila Karim Bansi</div>
          <div class="title">Volunteer Placement Coordinator</div>
        </div>

        <div class="user">
          <div class="card-image">
            <img src="{% static 'base/assets/images/sally.jpg' %}" alt="" loading="lazy" /> 
          </div>
          <div class="name">Sally Anim-Bediako</div>
          <div class="title">Director, Research, Monitoring & Evaluation</div>
        </div>

        <div class="user">
          <div class="card-image">
            <img src="{% static 'base/assets/images/Okantey.jpg' %}" alt="Gideon" loading="lazy" /> 
          </div>
          <div class="name">Gideon Nunoo</div>
          <div class="title">Information Technology Officer</div>
        </div>

        <div class="user">
          <div class="card-image">
            <img src="{% static 'base/assets/images/ben.jpg' %}" alt="" loading="lazy" /> 
          </div>
          <div class="name">Bernard Appiedu</div>
          <div class="title">Information Technology Officer</div>
        </div>

        <div class="user">
          <div class="card-image">
            <img
              src="{% static 'base/assets/images/Francis Cornah.jpg' %}" 
              alt=""
              loading="lazy"
            />
          </div>
          <div class="name">Francis Kofi Amankwah Cornah</div>
          <div class="title">International Mission Coordinator</div>
        </div>

        <div class="user">
          <div class="card-image">
            <img
              src="{% static 'base/assets/images/IMG-20221115-WA0029.jpg' %}" 
              alt="Patrick"
              loading="lazy"
            />
          </div>
          <div class="name">Patrick Otieku-Boadu</div>
          <div class="title">Corporate Training Consultant</div>

          <p id="patrick" onclick="patrickProfile()">View short profile</p>
        </div>

        <div class="user">
          <div class="card-image">
            <img src="{% static 'base/assets/images/Rev.jpg' %}" alt="" loading="lazy" /> 
          </div>
          <div class="name">
            Clement Achim Gyimah (Rev), The Church of Pentecost
          </div>
          <div class="title">Special Advisor</div>
          <p id="clement" onclick="clementProfile()">View short profile</p>
        </div>
      </div>
    </section>
    <!-- special profiles -->

    <div class="additional-info-p">
      <div class="photo">
        <img src="{% static 'base/assets/images/Rev.jpg' %}" alt="Clement" /> 
      </div>
      <div class="name">Rev. Clement Achim Gyimah</div>
      <table>
        <tr>
          <td style="font-weight: 700">ORGANIZATION</td>
          <td style="font-weight: 700">POSITION</td>
        </tr>
        <tr>
          <td>Global Youth Action Network</td>
          <td>Former Country Coordinator</td>
        </tr>
        <tr>
          <td>Teen Aids</td>
          <td>Global Advisory Board Member</td>
        </tr>
        <tr>
          <td>UN MDGs Campaign</td>
          <td>Youth Spokesperson</td>
        </tr>
        <tr>
          <td>Pan African Youth Leadership Network</td>
          <td>Member</td>
        </tr>
      </table>
      <span class="fa fa-close close-clement"></span>
    </div>

    <div class="additional-info-b">
      <div class="photo">
        <img src="{% static 'base/assets/images/IMG-20221115-WA0029.jpg' %}" alt="Clement" /> 
      </div>
      <div class="name">Patrick Otieku-Boadu</div>
      <div class="description">
        Corporate Training Consultant || Life Coaching || Keynote Speaker ||
        Author [Specializes in Functional Leadership Development, People,
        Behavioral & Stress Management]
      </div>
      <i class="fa fa-close close-patrick"></i>
    </div>
    <!-- footer -->

    <footer>
      <div class="left-section">
        <div class="brand">Global Leaders Foundation</div>
        <div class="lists">
          <a href="{% static 'base/index.html' %}">Home <span>|</span></a> 
          <a href="{% static 'base/assets/about/about.html' %}">About<span> |</span></a> 
          <a href="{% static 'base/assets/contact/contact.html' %}">Contact</a> 
          <div></div>
        </div>
      </div>
      <div class="middle-section">
        <div class="reach">Get In Touch With Us</div>
        <div class="location">
          <div><span class="fa fa-map-marker"></span></div>
          <div>
            P.O. Box KA 16164 Kotoka International Airport Accra Ghana, West
            Africa.
          </div>
        </div>
        <div class="call">
          <div><span class="fa fa-phone"></span></div>
          <div>+233 (0) 24 529 6586</div>
        </div>
        <div class="mail">
          <div><span class="fa fa-envelope"></span></div>
          <div>info@globalleadersfoundation.org</div>
        </div>
      </div>
      <div class="right-section">
        <div class="about-header">Follow US</div>
        <div class="about-text">Follow us on our social media platform</div>
        <div class="social-icons">
          <div>
            <a
              href="https://web.facebook.com/Global-Leaders-Foundation-300719476695019/"
              target="_blank"
            >
              <span class="fa fa-facebook"></span>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      Copyright &#169; 2011 -
      <script>
        document.write(new Date().getFullYear());
      </script>
      <a href="{% url 'main' %}" style="color: #15a2d7; text-decoration: none"
        >Global Leaders Foundation</a
      >. All rights reserved.
    </div>

    <!-- navbar -->

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="{% static 'base/assets/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js' %}"></script> 
    <script src="{% static 'base/assets/bootstrap-5.2.0-dist/js/bootstrap.bundle.js' %}"></script> 
    <script src="{% static 'base/scripts.js' %}"></script> 
    <script src="{% static 'base/assets/scripts/management.js' %}"></script> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
