::before,
::after {
  box-sizing: border-box;
  margin: 0;
}
* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #000000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disappear {
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* chapters */
.chapters-grid {
  background-image: url(/assets/images/about-upsa.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  animation: slide 10s infinite;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
}

.chapters-grid > * {
  text-align: center;
  font-weight: 600;
  font-size: 3.5rem;
  color: #fff;
  position: relative;
  z-index: 2;
}
.chapters-grid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
#demo {
  color: #15a2d7;
  font-size: 1.5rem;
  font-weight: 700;
}

/* footer of webpage */

@media (max-width: 600px) {
  .chapters-grid {
    background-repeat: repeat;
  }
  .chapters-grid > * {
    font-size: 2rem;
  }
  #demo {
    font-size: 1.5rem;
  }
}

@keyframes slide {
  0% {
    background-image: url(/assets/images/about-upsa.jpg);
    background-position: left;
  }
  55% {
    background-image: url(/assets/images/legon.jpg);
    background-position: bottom;
  }
}
