::before, ::after {
  box-sizing: border-box;
  margin: 0;
}
* {
  font-family: 'Epilogue', sans-serif;

}


body {
  margin: 0;
}
.first-section { 
  text-align: center;
  padding-block: 1rem;



}
.first-section img {
  width: 18%;


  
}

/* Navigation */
.navigation {
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  background-color: #15A2D7;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* padding-inline: 5%; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  
}
.links{
  display: flex;
  /* padding-top: 1rem; */
  gap: 3rem;
  
  
}

.links li {
  list-style: none;
 
}
.links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  position: relative;
  
}
.links li a::after {
  content: "";
  position: absolute;
  left:0;
  bottom: -.5rem;
  width: 100%;
  height: .2rem;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 250ms ease-in;

}
.links li a:hover::after {
  transform: scaleX(1);
}

.toggle-switch-button {
  position: absolute;
  top: .6rem;
  right: 2rem;
  color: #15A2D7;
  font-size: 2rem;
  display: none;
}

.glf-header {
  position: absolute;
  top: .4rem;
  left: 2rem;
  color: white;


}
.glf-header img {
  width: 10rem;
  border-radius: 1rem;
  display: none;
}


@media(max-width:1100px) {
  .first-section {
    display: none;
  }

  .toggle-switch-button , .glf-header img {
    display: inline-block;

  }
  .navigation {
    padding-block: 1rem;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);

  }
  
  .links li {
    width: 100%;
  }
  .links {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    display: none;

  }
  .links li a {
    color: #15A2D7;
  }
  .mobile {
    margin-bottom: 1.5rem;
  }
  .links.active {
    display: flex;
  }

}


/* about us container */

.contact-bg {
  /* background-image: url(/assets/images/cloud.png);
  background-repeat: no-repeat;
  background-size: cover; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 4rem;
  padding-inline: 10%;


  
 
}

.contact-hero img {
  width: 100%;
  border-radius: 100%;
}

.contact-text {
  color: #262E33;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.5;
  text-align: center;
}
.contact-text span {
  color: #15A2D7;
}

.in-touch {
  text-align: center;
  width: 60%;
  margin: auto;
  padding-block: 2rem;
  color: #262E33;

}
/* contact */
.contact-form-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: top;
  padding-inline: 10%;
  gap: 3rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.contact-form-cont h1 {
  color: #15A2D7;
  font-weight: 700;
  
}
.contact-form-cont p {
  color: #262E33;
  font-weight: 500;
  line-height: 2;
}
.fill-in {
  padding-inline: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-block: 1rem;
}
.fill-in input {
  display: block;
  margin-block: 1rem;
  width: 99%;
  padding-block: 1.2rem;
  outline: none;
  border: none;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.56);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1px);
-webkit-backdrop-filter: blur(1px);
border: 1px solid rgba(255, 255, 255, 0.3);
 border-radius: .3rem;
}
.fill-in input::placeholder {
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1rem;
  color: gray;
}

#submit-msg {
  background-color: #15A2D7;
  width: 8rem;
  padding-block: .8rem;
  float: right;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: 200ms ease-out;

}
#submit-msg:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1px);
-webkit-backdrop-filter: blur(1px);
border: 1px solid rgba(255, 255, 255, 0.3);
transform: rotateX(20deg);
}
.service-p {
  padding-block: 1rem;
}

.service-personnnel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-block-end: 1rem;
}
.service-personnnel img {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  object-fit: cover;
  object-position: 50% 15%;
}
h3 {
  color: #15A2D7;
}

#message {
  padding-bottom: 5rem;
}

.wrapper {
  background-image: url(/assets/images/white.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media(max-width:1100px) {
  .contact-form-cont, .contact-bg {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;

    
  }
  .contact-form-cont {
    padding: 0;
    text-align: center;
  }
  .service-p {
    padding-inline: 2rem;
  }

  .contact-bg {
    text-align: center;
    margin-top: 5rem;
  }
  .contact-text {
    font-size: 2rem;
  }
  .in-touch {
    width: 90%;
    font-size: 1rem;
  }
  .contact-form-cont {
    gap: 1rem;
  }


}

















/* footer of webpage */
footer {
  padding-block: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  padding-inline: 5%;
  gap: 5rem;
  background-color: #262E33;
  color: white;
  font-weight: 500;

  
}
.right-section{
  text-align: justify; 
  
}
.lists, .location,.call,.mail, .social-icons {
  display: flex;
}
.location,.call,.mail, .social-icons  {
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
}
.social-icons {
  gap: 1rem;
  color: #15A2D7;
  /* width: 100%; */
}
.left-section > *, .middle-section > *, .right-section > * {
  margin-block: .5rem;
}
.brand ,.about-header, .reach {
  font-size: 1.5rem;
  
}

.brand,.about-header, .reach{
  color: #15A2D7;
}
@media (max-width:1100px) {
  footer {
    display: flex;
    flex-direction:column;
    padding-inline: 5%;
    gap: 2rem;
  }
  footer > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-inline: 5%;
 
  }
  

}

