::before,
::after {
  box-sizing: border-box;
  margin: 0;
}
* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #000000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disappear {
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.contact-us {
  height: 80vh;
  width: 100vw;
  padding-inline: 5%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  letter-spacing: 0.2rem;
  background-image: url(/assets/images/contact-us.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.contact-us > * {
  text-align: center;
  font-weight: 600;
  font-size: 3.5rem;
  color: #fff;
  position: relative;
  z-index: 2;
}
.contact-us::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
/* about us container */

.contact-bg {
  /* background-image: url(/assets/images/cloud.png);
  background-repeat: no-repeat;
  background-size: cover; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 4rem;
  padding-inline: 10%;
}

.contact-hero img {
  width: 100%;
  border-radius: 100%;
}

.contact-text {
  color: #262e33;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}
.contact-text span {
  color: #15a2d7;
}

.in-touch {
  text-align: center;
  width: 90%;
  margin: auto;
  padding-block: 1rem;
  color: #262e33;
}
/* contact */
.contact-form-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: top;
  padding-inline: 10%;
  gap: 3rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.contact-form-cont h4 {
  color: #15a2d7;
  font-weight: 700;
}
.contact-form-cont p {
  color: #262e33;
  font-weight: 500;
  line-height: 2;
}
.fill-in {
  padding-inline: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-block: 1rem;
}
.fill-in input,
.fill-in textarea {
  display: block;
  margin-block: 1rem;
  width: 99%;
  padding-block: 1.2rem;
  outline: none;
  border: none;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.56);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.3rem;
}
.fill-in input::placeholder,
.fill-in textarea::placeholder {
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1rem;
  color: gray;
}

#message {
  overflow-wrap: break-word;
  resize: vertical;
}

#submit-msg {
  background-color: whitesmoke;
  padding-block: 0.8rem;
  font-weight: 600;
  font-size: 1rem;
  color: #15a2d7;
  border: 2px solid #15a2d7;
  cursor: pointer;
  transition: 200ms ease-out;
}
#submit-msg:hover {
  background-color: #15a2d7;
  color: white;
}
.service-p {
  padding-block: 1rem;
}
.map {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.56);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  width: 100%;
  min-height: 32rem;
}

h3 {
  color: #15a2d7;
}

#message {
  padding-bottom: 5rem;
}

/* .wrapper {
  background-image: url(/assets/images/white.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */

@media (max-width: 1200px) {
  .contact-form-cont,
  .contact-bg {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
  }
  .contact-form-cont {
    padding: 0;
    text-align: center;
  }
  .service-p {
    padding-inline: 2rem;
  }

  .contact-bg {
    text-align: center;
    margin-top: 5rem;
  }
  .contact-text {
    font-size: 2rem;
  }
  .in-touch {
    width: 90%;
    padding: 0;
    font-size: 1rem;
  }
  .contact-form-cont {
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .contact-us > * {
    font-size: 2rem;
  }
}

@media (min-width: 1500px) {
  .contact-form-cont {
    padding-inline: 15%;
  }
}
