::before,
::after {
  box-sizing: border-box;
  margin: 0;
}
* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #000000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disappear {
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.programmes {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
  background-image: url("/static/base/assets/images/programmes-bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.programmes > * {
  text-align: center;
  font-weight: 600;
  font-size: 3.5rem;
  color: #fff;
  position: relative;
  z-index: 2;
}
.programmes::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.emp-grid {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  gap: 4rem;
  place-items: center;
  padding-inline: 5%;
  padding-block: 2rem;
  text-align: justify;
  background-color: white;
}
.emp-img img {
  width: 100%;
  border-radius: 5%;
}
/* why volunteer */
.why-volunteer {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  gap: 4rem;
  place-items: center;
  padding-inline: 5%;

  padding-block: 2rem;
  display: grid;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  text-align: justify;
  background-color: white;
}
.vol,
.youth-emp {
  padding-inline: 5%;
  margin: auto;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  color: #15a2d7;
  padding-bottom: 1rem;
}
.vol {
  padding-top: 1rem;
}
/* .vol span {
  color: #15A2D7;
} */
.vol-header {
  font-size: 1.5rem;
  font-weight: 700;
}
.vol-header span {
  color: #262e33;
}
.why-volunteer p {
  line-height: 2;
}

.why-volunteer img {
  width: 100%;
  border-radius: 5%;
}
.exchange {
  font-size: 2rem;
  font-weight: 700;
  color: #15a2d7;
  width: 90%;
  margin: auto;
  text-align: center;
  padding-block: 1rem;
}

/* HIV section of page */
.hiv {
  width: 90%;
  margin: auto;
  text-align: center;
  color: #15a2d7;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  padding-block: 1rem;
}
/* .hiv span {
  color: red;
} */
.hiv-grid,
.exchange-grid {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  gap: 4rem;
  place-items: center;
  padding-inline: 5%;

  border-radius: 16px;
  padding-block: 2rem;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  background-color: white;
  text-align: justify;
}

.exchange-grid img {
  width: 100%;
  border-radius: 5%;
}
.ex-head {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}
.exchange-grid ul li::marker {
  content: "âœ";
}
.exchange-grid ul li {
  font-weight: 600;
  margin-block: 0.5rem;
}
.hiv-grid img {
  width: 100%;
  border-radius: 5%;
}
.aids-head {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}
.aids-head span {
  background-color: red;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: white;
  border-radius: 0.5rem;
}
.hiv-grid p,
.emp-text {
  line-height: 2;
}

.state,
.pdf {
  font-weight: 600;
}
.pdf {
  /* From https://css.glass */
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  background-color: #262e33;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.pdf a {
  text-decoration: none;
  color: white;
}
.pdf a:hover {
  color: white;
  text-decoration: none;
}
.tour {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
  background-image: url(/assets/images/about-bg.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.tour > * {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  width: 70%;
  font-weight: 600;
  line-height: 2;
  color: #fff;
  position: relative;
  z-index: 2;
}
.tour::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.exchange-grid p {
  line-height: 2;
}

@media (max-width: 1200px) {
  .why-volunteer,
  .emp-grid,
  .hiv-grid,
  .exchange-grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .exchange-grid ul {
    width: 90%;
    margin: auto;
  }

  .youth-emp,
  .vol,
  .hiv,
  .exchange {
    font-size: 2rem;
    margin-top: 4rem;
  }
  .tour-text {
    font-size: 1.5rem;
    padding: 2rem;
  }
  .vol-header,
  .aids-head,
  .ex-head {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .youth-emp,
  .vol,
  .hiv,
  .exchange {
    font-size: 1.5rem;
  }
  .vol-header,
  .aids-head,
  .ex-head {
    font-size: 1.2rem;
  }
  .tour > * {
    width: 90%;
    font-size: 1.2rem;
  }
}

.programmes-cont {
  background-image: url(/assets/images/cloud.png);
  background-position: center;
}
.programme-content {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
h4 {
  text-align: center;
  padding-inline: 5%;
}
.paragraph {
  padding-inline: 5%;
  font-weight: 500;
  line-height: 2;
  color: #262e33;
  text-align: justify;
}
.p-one {
  margin-block: 3rem;
}
#more {
  display: none;
}

#myBtn {
  background-color: #262e33;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;
  cursor: pointer;
}

.village-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-inline: 5%;
  padding-block: 2rem;
  gap: 4rem;
  /* From https://css.glass */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* background-image: url(/assets/images/cloud.png);
background-position: center; */
}
.village-image img {
  width: 100%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.village-text {
  line-height: 2;
}
h4 {
  color: #15a2d7;
  /* background-color: #262E33; */
  padding-block: 1rem;
}

@media (max-width: 1200px) {
  .village-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
  .village-text,
  .paragraph {
    text-align: justify;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .programmes > * {
    font-size: 2rem;
  }
}

@media (min-width: 1500px) {
  .emp-grid,
  .why-volunteer,
  .hiv-grid,
  .exchange-grid,
  .village-container {
    padding-inline: 12%;
  }
  footer {
    padding-inline: 12%;
  }
  .two,
  .objectives {
    width: 75%;
  }
}

/* @media (min-width: 1700px) {
  .emp-grid,
  .why-volunteer,
  .hiv-grid,
  .exchange-grid,
  .village-container {
    padding-inline: 20%;
  }
  footer {
    padding-inline-start: 12%;
  }
  .two,
  .objectives {
    width: 75%;
  }
} */
