
::before, ::after {
  box-sizing: border-box;
  margin: 0;
}
* {
  font-family: 'Epilogue', sans-serif;

}


body {
  margin: 0;
 
}
.first-section { 
  text-align: center;
  padding-block: 1rem;
  background-color: white;



}
.first-section img {
  width: 18%;


  
}

/* Navigation */
.navigation {
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  background-color: #15A2D7;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* padding-inline: 5%; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  
}
.links{
  display: flex;
  /* padding-top: 1rem; */
  gap: 3rem;
  
  
}

.links li {
  list-style: none;
 
}
.links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
  
}
.links li a::after {
  content: "";
  position: absolute;
  left:0;
  bottom: -.5rem;
  width: 100%;
  height: .2rem;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 250ms ease-in;

}
.links li a:hover::after {
  transform: scaleX(1);
}
.toggle-switch-button {
  position: absolute;
  top: .6rem;
  right: 2rem;
  color: #15A2D7;
  font-size: 2rem;
  display: none;
}
/* .list-element-button {
  position: absolute;
  top: 0;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  display: none;
} */
.glf-header {
  position: absolute;
  top: .4rem;
  left: 2rem;
  color: white;


}
.glf-header img {
  width: 10rem;
  border-radius: 1rem;
  display: none;
}


@media(max-width:1100px) {
  .first-section {
    display: none;
  }

  .toggle-switch-button , .glf-header img {
    display: inline-block;

  }
  .navigation {
    padding-block: 1rem;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);

  }
  
  .links li {
    width: 100%;
  }
  .links {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    display: none;

  }
  .links li a {
    color: #15A2D7;
  }
  .mobile {
    margin-bottom: 1.5rem;
  }
  .links.active {
    display: flex;
  }

}
/* why volunteer */
.why-volunteer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  place-items: center;
  margin-inline: 5%;
  margin-block-end: 2rem;
  border-radius: 16px;
  padding-block: 2rem;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  text-align: justify;
  background-color: white;

  
}
.vol {
  width: 90%;
  margin: auto;
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  padding-block: 1rem;
  color: #15A2D7;


}
/* .vol span {
  color: #15A2D7;
} */
.vol-header {
  font-size: 2.5rem;
  font-weight: 700;

}
.vol-header span {
  color: #15A2D7;
}
.why-volunteer p {
   line-height: 1.2;
}

.why-volunteer img {
  width: 100%;
  border-radius: 20%
  
}
.exchange {
  font-size: 3rem;
  font-weight: 700;
  color: #15A2D7;
  width: 90%;
  margin: auto;
  text-align: center;
  padding-block: 1rem;
  margin-bottom: 1rem;
}


/* HIV section of page */
.hiv  {
  width: 90%;
  margin: auto;
  text-align: center;
  color: #15A2D7;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
  padding-block: 1rem;
  margin-block: 1rem;
}
/* .hiv span {
  color: red;
} */
.hiv-grid, .exchange-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  place-items: center;
  margin-inline: 5%;
  margin-block-end: 2rem;
  border-radius: 16px;
  padding-block: 2rem;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  background-color: white;
  text-align: justify;


}

.exchange-grid img {
  width: 100%;

}
.ex-head {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
 

}
.exchange-grid ul li::marker {
  content: "âœ";
}
.exchange-grid ul li {
  font-weight: 600;
  margin-block: .5rem;
}
.hiv-grid img {
  width: 100%;

}
.aids-head {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
 
}
.aids-head span {
  background-color: red;
  padding-block: .5rem;
  padding-inline: 1rem;
  color: white;
  border-radius: .5rem;
}
.hiv-grid p {
  line-height: 1.2;
}

.state {
  font-weight: 600;
}
.tour {
  background-color: #262E33;
  background-image: url(/assets/images/travel.jpg);
  background-size: cover;
  background-position: center;
  padding-block: 10rem;
  background-blend-mode: lighten;
}
.tour-text {
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 5rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  color: #262E33;
}


@media (max-width:1100px) {
  .why-volunteer{
    grid-template-columns: 1fr;
  }
 
  .exchange-grid ul{
    width: 50%;
    margin: auto;
    text-align: justify;
  }
  .vol-header {
    text-align: center;
    font-size: 2rem;
  }
  .vol,.hiv, .exchange {
    font-size: 2rem;
    margin-top: 4rem;
  
  }
  .tour-text {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 2rem;
  }
  .aids-head, .ex-head {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media(max-width:1100px) {
  .hiv-grid,.exchange-grid {
    grid-template-columns: 1fr;
    
  }
}








.programmes-cont {
  background-image: url(/assets/images/cloud.png);
  background-position: center;

}
.programme-content {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
h1 {
  text-align: center;
  padding-inline: 5%;

}
.paragraph {
  padding-inline: 5% ;
  font-weight: 500;
  line-height: 2;
  color: #262E33;
  text-align: justify;
  
}
.p-one {
  margin-block: 3rem ;
}
#more {
  display: none;}

#myBtn {
  background-color: #262E33;
  padding-block: .5rem;
  padding-inline: 1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;
  cursor: pointer;
} 

.village-container {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-inline: 5%;
  padding-block: 2rem;
  gap: 4rem;
  /* From https://css.glass */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
/* background-image: url(/assets/images/cloud.png);
background-position: center; */
}
.village-image img {
  width: 100%;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.village-text{
 line-height: 2;
}
h1 {
  color: #15A2D7;
  padding-block: 1rem;
}

/* footer of webpage */
footer {
  padding-block: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  padding-inline: 5%;
  gap: 5rem;
  background-color: #262E33;
  color: white;
  font-weight: 500;
  
  
}
.right-section{
  text-align: justify; 
  
}
.lists, .location,.call,.mail, .social-icons {
  display: flex;
}
.location,.call,.mail, .social-icons  {
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
}
.social-icons {
  gap: 1rem;
  color: #15A2D7;
  /* width: 100%; */
}
.left-section > *, .middle-section > *, .right-section > * {
  margin-block: .5rem;
}
.brand ,.about-header, .reach {
  font-size: 1.5rem;
  
}

.brand,.about-header, .reach{
  color: #15A2D7;
}

@media (max-width:1100px) {
  .village-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  
  }
  .village-text, .paragraph {
    text-align: justify;
  }
}

@media (max-width:1100px) {
  footer {
    display: flex;
    flex-direction:column;
    padding-inline: 5%;
    gap: 2rem;
  }
  footer > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-inline: 5%;
   
  }
}  

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}