
::before, ::after {
  box-sizing: border-box;
  margin: 0;
}
* {
  font-family: 'Epilogue', sans-serif;

}


body {
  margin: 0;
}
.first-section { 
  text-align: center;
  padding-block: 1rem;



}
.first-section img {
  width: 18%;


  
}

/* Navigation */
.navigation {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #15A2D7;
  /* padding-inline: 5%; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  
}
.links{
  display: flex;
  /* padding-top: 1rem; */
  gap: 3rem;
  
  
}

.links li {
  list-style: none;
 
}
.links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
  
}
.links li a::after {
  content: "";
  position: absolute;
  left:0;
  bottom: -.5rem;
  width: 100%;
  height: .2rem;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 250ms ease-in;

}
.links li a:hover::after {
  transform: scaleX(1);
}
.toggle-switch-button {
  position: absolute;
  top: .5rem;
  right: 2rem;
  color: #15A2D7;
  font-size: 2rem;
  display: none;
}
/* .list-element-button {
  position: absolute;
  top: 0;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  display: none;
} */
.glf-header {
  position: absolute;
  top: .8rem;
  left: 2rem;
  color: white;


}
.glf-header img {
  width: 10rem;
  border-radius: 1rem;
  display: none;
}


@media(max-width:1100px) {
  .first-section {
    display: none;
  }

  .toggle-switch-button , .glf-header img {
    display: inline-block;

  }
  .navigation {
    padding-block: 1rem;
    flex-direction: column;
    position: static;
    background-color: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);

  }
  
  .links li {
    width: 100%;
  }
  .links {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    display: none;

  }
  .links li a {
    color: #15A2D7;
  }
  .mobile {
    margin-bottom: 1.5rem;
  }
  .links.active {
    display: flex;
  }

}

.programmes-cont {
  background-image: url(/assets/images/cloud.png);
  background-position: center;

}
.programme-content {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
h1 {
  text-align: center;

}
.paragraph {
  padding-inline: 5% ;
  font-weight: 500;
  line-height: 2;
  color: #262E33;
  
}
.p-one {
  margin-block: 3rem ;
}
#more {
  display: none;}

#myBtn {
  background-color: #262E33;
  padding-block: .5rem;
  padding-inline: 1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;
  cursor: pointer;
} 

.village-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-inline: 5%;
  padding-block: 2rem;
  gap: 4rem;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
background-image: url(/assets/images/cloud.png);
background-position: center;
}
.village-image img {
  width: 100%;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.village-text{
 line-height: 2;
}
h1 {
  color: #15A2D7;
  padding-block: 1rem;
}

/* footer of webpage */
footer {
  padding-block: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  padding-inline: 5%;
  gap: 5rem;
  background-color: #262E33;
  color: white;
  font-weight: 500;
  
}
.lists, .location,.call,.mail, .social-icons {
  display: flex;
}
.location,.call,.mail, .social-icons  {
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
}
.social-icons {
  gap: 1rem;
  color: #15A2D7;
  /* width: 100%; */
}
.left-section > *, .middle-section > *, .right-section > * {
  margin-block: .5rem;
}
.brand ,.about-header, .reach {
  font-size: 1.5rem;
  
}

.brand,.about-header, .reach{
  color: #15A2D7;
}

@media (max-width:1100px) {
  .village-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  
  }
}

@media (max-width:1100px) {
  footer {
    display: flex;
    flex-direction:column;
    padding-inline: 5%;
    gap: 2rem;
  }
  footer > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-inline: 5%;
  }
}  

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}